@import 'main.less';
@import 'variables.less';

.container {
  background-color: @white;
  margin: 100px 150px;
  padding: 40px;
}

.font-red {
  color: @font-red;
}

.text-center {
  text-align: @text-center;
}

//TODO: image is not in the center of the page because you use margin to locate the image.
.resume-image {
  margin-top: -130px;
  margin-left: 450px;
  border-radius: @border-radius-50;
}

.text-bottom {
  margin-bottom: 20px;
}

.text-top {
  margin-top: 20px;
}

.education-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.year {
  width: 10%;
}

.year-font-size {
  font-size: @year-font-size;
}

.font-bold {
  font-weight: bold;
}

.education-info {
  background-color: @gray;
  padding: 10px;
  width: 90%;
}

//TODO: remove px if 0 px
.summary {
  margin: 5px 0px 10px 0px;
  font-size: @year-font-size;
}

.description {
  margin: 5px 0px 10px 0px;
  font-size: @description-font-size;
}
