@black: #000;
@dark-gary: #363636;
@gray: #ededed;
@white: #fff;
@primary-color: #ec7263;
@red: red;
@text-center: center;
@border-radius-50: 50%;
@year-font-size: 18px;
@description-font-size: 16px;

@background: @gray;
@gray-border-color: @gray;
@text-color: @dark-gary;
@font-red: @red;
@text-align-center: @text-center;

@base-font-size: 10px;
@font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@base-padding: 10px;
@base-margin: 20px;

.image-size {
  width: 150px;
  height: 150px;
}
